name: Terraform CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  terraform:
    name: Terraform Validate & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: .
        run: terraform init -backend=false

      - name: Terraform Validate
        working-directory: .
        run: terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.53.0

      - name: Run TFLint
        working-directory: infra
        run: tflint --init && tflint

  # security:
  #   name: Terraform Security Scan (tfsec)
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Run tfsec
  #       uses: aquasecurity/tfsec-action@v1.0.3
  #       with:
  #         working-directory: infra
  #         additional_args: --minimum-severity CRITICAL
